@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face { font-family: ArabicUIDisplayBold; src: url('/static/fonts/ArabicUIDisplayBold.otf'); }

@theme {
	--color-discord: #5865F2;
}

html[lang="ar"] {
  font-family: 'ArabicUIDisplayBold', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

body {
	@apply bg-black text-white
}

article a {
	@apply text-amber-400
}

a:hover {
	@apply no-underline
}

h1 {
  @apply text-4xl font-extrabold text-amber-400 mt-2 mb-4;
}
h2 {
  @apply text-3xl font-extrabold text-amber-400 mt-2 mb-4;
}
h3 {
  @apply text-2xl font-extrabold text-amber-400 mt-2 mb-4;
}
h4 {
  @apply text-xl font-extrabold text-amber-400 mt-2 mb-4;
}
h5 {
  @apply text-lg font-extrabold text-amber-400 mt-2 mb-4;
}
p {
	@apply text-lg leading-8
}
.feature-box {
	@apply flex-1 basis-80 max-w-sm bg-zinc-800 p-8 rounded-lg shadow-lg flex flex-col items-center text-center
}
.counter-box {
	@apply flex-1 basis-80 max-w-fit bg-zinc-800 p-8 rounded-lg shadow-lg flex flex-col items-center text-center
}
.feature-list {
	@apply flex flex-wrap justify-center gap-8 my-8
}
article ol {
	@apply list-decimal space-y-1 list-inside ms-4 text-lg
}
article ul {
	@apply list-decimal space-y-1 list-inside ms-4 text-lg
}
article p {
	@apply py-8 text-justify
}