@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face { font-family: ArabicUIDisplayBold; src: url('/decap_test/static/fonts/ArabicUIDisplayBold.otf'); }

@theme {
	--color-discord: #5865F2;
}

html[lang="ar"] {
  font-family: 'ArabicUIDisplayBold', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

body {
	@apply bg-black text-white
}

a:hover {
	@apply no-underline
}

h1 {
  @apply text-4xl font-extrabold text-amber-400 mt-8 mb-4;
}
h2 {
  @apply text-3xl font-extrabold text-amber-400 mt-4 mb-3;
}
h3 {
  @apply text-2xl font-extrabold text-amber-400 mt-2 mb-2;
}
h4 {
  @apply text-xl font-extrabold text-amber-400 mt-1 mb-1;
}
h5 {
  @apply text-lg font-extrabold text-amber-400 mt-1 mb-1;
}