@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-discord: #5865F2;
}

body {
	@apply bg-black text-white
}

a:hover {
	@apply no-underline 
}

h1 {
  @apply text-4xl font-extrabold text-amber-400 mt-8 mb-4;
  letter-spacing: -0.025em;
}