---
import { defaultLang } from "@/i18n/ui";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import PoRCounter from '@/components/PoRCounter.astro';

// This function tells Astro to build a page for every entry in your content collection
export async function getStaticPaths() {
	const pageEntries = await getCollection("pages");

	let finalList = pageEntries
		.filter((entry) => entry.slug.indexOf("/") != -1)
		.map((entry) => ({
			params: { slug: entry.slug },
			props: { entry },
		}));

	return finalList;
}

// Get the specific page data for the current page
const { entry } = Astro.props;

// Get the rendered HTML content from the markdown
const { Content } = await entry.render();
const lang = Astro.currentLocale;
---

<Layout title={entry.data.name} lang={lang} slug={entry.slug}>
	<Hero />
	{
		entry.data.components?.map(component => {
			switch (component) {
			case "por-counter":
				return <PoRCounter />
			case "hero":
				return <Hero />
			default:
				throw new Error(`Unknown component ${component}`)
			}
		})
	}
	<main class="px-8 mt-8">
		<article>
			<Content />
		</article>
	</main>
</Layout>
