---
// import { getEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
	const ignoreList = ["home"];
  const pages = await getCollection('pages');
  return pages
	.filter(page => !(ignoreList.includes(page.slug)))
	.map(page => ({
    params: { slug: page.slug },
    props: { page },
  }));
}

// Get the specific blog for this page
const { page } = Astro.props;
const { Content } = await page.render(); // This renders the Markdown body to HTML

---
<Layout>
	<h1>{page.data.title}</h1>
	<p>{page.data.subtitle}</p>
	<article>
		<Content />
	</article>
</Layout>