---
// This page path is hardcoded on the card as `tejory.io/apps.html`
import Components from "@/components/Components.astro";
import Layout from "@/layouts/Layout.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("pages", "en/apps");

if (!entry) {
	throw new Error("unable to find apps page");
}

const { Content } = await entry.render();

---
<Layout title="apps" lang="en" slug="/apps">
	<Components components={entry.data.top_components} />
	<main class="px-8 mt-8 max-w-7xl mx-auto">
		<article>
			<Content />
		</article>
	</main>
	<Components components={entry.data.bottom_components} />
</Layout>