---
import Counter from '../components/Counter.svelte';
const BASE_URL = import.meta.env.BASE_URL;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/decap_test/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href={BASE_URL}>Home</a>
		<a href=`${BASE_URL}/blog`>Blog</a>
		<h1>Astro</h1>
		<div><a href="blog/">Blog List</a></div>
		<Counter client:load />
	</body>
</html>
