---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.astro';
import { useTranslations } from '@/i18n/utils';
import { getCollection } from 'astro:content';
import FeatureBox from '@/components/FeatureBox.astro';
const { lang="en" } = Astro.props;
const t = useTranslations(lang);

const featureList = ["lightning-network", "slim-discreet-design", "swaps"];

const features = await getCollection("features");
// features.map((entry) => {
// 	console.log(`entry.slug: ${entry.slug}`)
// });
const displayFeatures = await Promise.all(
  features
    .filter((entry) => featureList.includes(entry.slug.split("/")[1]) && entry.slug.split("/").includes(lang))
    .map(async (entry) => {
      const { Content } = await entry.render();
      return {
        name: entry.data.name,
        icon: entry.data.custom_icon || entry.data.icon,
        Content: Content,
      };
    })
);

// displayFeatures.map((entry) => {
// 	console.log(`displayFeatures entry.name: ${entry.name}`)
// });
---
<Layout lang={lang} >
	<Hero />
	<main class="px-8 mt-8 max-w-7xl mx-auto">
		<div class="flex flex-wrap justify-center gap-8">
		{
			displayFeatures.map((feature) => (
				<FeatureBox feature={feature} />
			))
		}
		</div>
		<article class="mt-8 space-y-8">
			<a href="#" class="flex flex-col items-center bg-white border border-zinc-200 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-zinc-100 dark:border-zinc-700 dark:bg-zinc-800 dark:hover:bg-zinc-700">
					<img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/docs/images/blog/image-4.jpg" alt="">
					<div class="flex flex-col justify-between p-4 leading-normal">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-zinc-900 dark:text-white">Tejory Core</h5>
							<p class="mb-3 font-normal text-zinc-700 dark:text-zinc-400">Lock your crypto in a cold storage that can secure your assets long term.</p>
					</div>
			</a>
			<a href="#" class="flex flex-col items-center bg-white border border-zinc-200 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-zinc-100 dark:border-zinc-700 dark:bg-zinc-800 dark:hover:bg-zinc-700">
					<img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/docs/images/blog/image-4.jpg" alt="">
					<div class="flex flex-col justify-between p-4 leading-normal">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-zinc-900 dark:text-white">Tejory Core</h5>
							<p class="mb-3 font-normal text-zinc-700 dark:text-zinc-400">Lock your crypto in a cold storage that can secure your assets long term.</p>
					</div>
			</a>
		</article>
	</main>
</Layout>