---
import { getEntry } from 'astro:content';
import Layout from "../layouts/Layout.astro";

// Fetch the content specifically from the 'features' entry in the 'pages' collection
const page = await getEntry('pages', 'home');
if (!page) {
  // Since this code runs at build time, throwing an error is the best
  // way to handle missing content. It stops the build and warns you.
  throw new Error("Could not find the 'home' page in the 'pages' content collection.");
}
const { Content } = await page.render(); // This renders the Markdown body
---


<Layout>
  <main class="px-8">
		
    <h1 class="text-5xl py-4">{page.data.title}</h1>
    <p>{page.data.subtitle}</p>
    <article>
      <Content />
    </article>
  </main>
</Layout>