---
import PoRCounter from "@/components/PoRCounter.astro";
import Hero from "@/components/Hero.astro";
import BuyNow from "./BuyNow.astro";
import LiveChat from "./LiveChat.astro";
import GithubRepoCard from "./GithubRepoCard.astro";
import MerchantFees from "./MerchantFees.astro";
import RoadMap from "./RoadMap.astro";
import ContactUs from "./ContactUs.astro";
import BtcVsSavings from './BtcVsSavings.astro';

interface Props {
  components?: string[];
}

const { components } = Astro.props;
---
<div class="space-y-8">
{
	components?.map(component => {
		switch (component) {
		case "por-counter":
			return <PoRCounter />
		case "hero":
			return <Hero />
		case "buy-now-tejory-core":
			return <div class="flex justify-center"><BuyNow slug="tejory-core" /></div>
		case "live-chat":
			return <LiveChat />
		case "repo-app":
			return <div class="flex gap-x-2 justify-center">
				<GithubRepoCard repo="integrityph/tejory-app" />
			</div>
		case "merchant-fees":
			return <MerchantFees />
		case "road-map":
			return <RoadMap />
		case "contact-us":
			return <ContactUs />
		case "btc-saving":
			return <BtcVsSavings />
		default:
			throw new Error(`Unknown component ${component}`)
		}
	})
}
</div>