---
import PoRCounter from "@/components/PoRCounter.astro";
import Hero from "@/components/Hero.astro";
import BuyNow from "./BuyNow.astro";
import LiveChat from "./LiveChat.astro";

interface Props {
  components?: string[];
}

const { components } = Astro.props;
---
<div class="space-y-8">
{
	components?.map(component => {
		switch (component) {
		case "por-counter":
			return <PoRCounter />
		case "hero":
			return <Hero />
		case "buy-now-tejory-core":
			return <div class="flex justify-center"><BuyNow slug="tejory-core" /></div>
		case "live-chat":
			return <LiveChat />
		default:
			throw new Error(`Unknown component ${component}`)
		}
	})
}
</div>