---
import '../styles/global.css'
import NavMenu from '../components/NavMenu.astro'
import Footer from '../components/Footer.astro'
const BASE_URL = import.meta.env.BASE_URL;
---
<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href=`${BASE_URL}/favicon.png`>
    <title>Tejory Wallet</title>
  </head>
  <body class="flex flex-col min-h-screen">
		<NavMenu />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer />
  </body>
</html>