---
import './src/styles/global.css'
import NavMenu from '../components/NavMenu.astro'
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Astro Site</title>
  </head>
  <body>
		<NavMenu />
    <slot />
  </body>
</html>